<form action="/api/books/update" method="Put">
    <label for="name">Product name</label>
    <input type="text" name="name" id="name" >
    <br><br>
    <label for="year">Price</label>
    <input type="number" name="year" id="year">
    <br><br>
    <label for="lorem">Coment</label>
    <input type="text" name="lorem" id="lorem" >
    <br><br>
    <label for="img">Product img</label>
    <input type="text" name="img" id="img">
    <input type="submit">
</form>